<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

    <debug />
    <!--放行静态资源-->
    <http security="none" pattern="/view/img/index/*.*" />
    <http security="none" pattern="/view/img/video/*.*" />
    <http security="none" pattern="/**/*.css" />
    <http security="none" pattern="/**/login.html" />
    <http security="none" pattern="/**/*.js" />
    <http security="none" pattern="/**/*.json" />
    <http security="none" pattern="/**/*.jpg" />
    <http security="none" pattern="/**/*.jpeg" />
    <http security="none" pattern="/**/*.bmp" />
    <http security="none" pattern="/**/*.gif" />
    <http security="none" pattern="/**/*.png" />
    <http security="none" pattern="/**/*.ico" />
    <http security="none" pattern="/**/*.jsp" />
    <http security="none" pattern="/**/*.ttf" />
    <http security="none" pattern="/**/*.map" />
    <http security="none" pattern="/view/fonts/*" />
    <!--限制访问的请求-->
    <http use-expressions="true" auto-config="true">
        <security:csrf disabled="true"/>
        <security:intercept-url pattern="/index" method="GET" access="permitAll"/>
        <security:intercept-url pattern="/video/address" method="GET" access="permitAll"/>
        <security:intercept-url pattern="/toLogin/page*" method="GET" access="permitAll"/>
        <security:intercept-url pattern="/register/page" method="GET" access="permitAll"/>
        <security:intercept-url pattern="/register/data" method="POST" access="permitAll"/>
        <security:intercept-url pattern="/register/checkName" method="GET" access="permitAll"/>
        <security:intercept-url pattern="/register/activate" method="GET" access="permitAll"/>
        <!--指定登录页面-->
        <security:form-login login-page="/toLogin/page"/>

        <logout invalidate-session="true" logout-url="/logout"
                    logout-success-url="/index" />

        <intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <!--登录后默认页面-->
        <form-login default-target-url="/index"/>

        <!-- 同一时间内允许同一账号保持1个在线,error-if-maximum-exceeded="true"表示第1个以后的登不进去 -->
        <session-management invalid-session-url="/index">
            <concurrency-control max-sessions="2"
                                 error-if-maximum-exceeded="false" />
        </session-management>
        <csrf disabled="true"/>

    </http>
    <!--权限管理-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
        </authentication-provider>
    </authentication-manager>
    <!--为权限认证提供用户名、密码和所拥有的权限等信息-->
    <beans:bean id="userDetailsService" class="xyz.chanjkf.service.Impl.UserDetailsImpl" />



</beans:beans>