<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:annotation-config></context:annotation-config>
    <context:component-scan base-package="xyz.chanjkf">
    	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


	<context:property-placeholder location="classpath:persistence-*.properties" ignore-unresolvable="true"/>


	<!--<context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true"/>-->

	<!--<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
		<!--<property name="maxIdle" value="${redis.maxIdle}" />-->
		<!--<property name="maxActive" value="${redis.maxActive}" />-->
		<!--<property name="maxWait" value="${redis.maxWait}" />-->
		<!--<property name="testOnBorrow" value="${redis.testOnBorrow}" />-->
	<!--</bean>-->

	<!--<bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"-->
		  <!--p:host-name="${redis.host}" p:port="${redis.port}"  p:pool-config-ref="poolConfig"/>-->

	<!--<bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">-->
		<!--<property name="connectionFactory"   ref="connectionFactory" />-->
	<!--</bean>-->



	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<!-- 可以加多个包 -->
				<value>xyz.chanjkf.entity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.connection.isolation">${hibernate.connection.isolation}</prop>
			</props>
		</property>


	</bean>
	<bean id="dataSource" class="xyz.chanjkf.aop.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="master" value-ref="masterDataSource"/>
				<entry key="slave" value-ref="slave01DataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="masterDataSource"/>
	</bean>

	<bean id="slave01DataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg>
			<bean class="com.zaxxer.hikari.HikariConfig">
				<property name="driverClassName" value="${hibernate.master.connection.driverClass}"/>
				<property name="jdbcUrl" value="${hibernate.master.connection.url}"/>
				<property name="username" value="${hibernate.master.connection.username}"/>
				<property name="password" value="${hibernate.master.connection.password}"/>
				<property name="readOnly" value="false" />
				<property name="connectionTimeout" value="${jdbc.connectionTimeout}"/>
				<property name="idleTimeout" value="${jdbc.idleTimeout}"/>
				<property name="maxLifetime" value="${jdbc.maxLifetime}"/>
				<property name="maximumPoolSize" value="${jdbc.maximumPoolSize}"/>
			</bean>
		</constructor-arg>
	</bean>
	<bean id="masterDataSource"
		  class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg>
			<bean class="com.zaxxer.hikari.HikariConfig">
				<property name="driverClassName" value="${hibernate.slave.connection.driverClass}"/>
				<property name="jdbcUrl" value="${hibernate.slave.connection.url}"/>
				<property name="username" value="${hibernate.slave.connection.username}"/>
				<property name="password" value="${hibernate.slave.connection.password}"/>
				<property name="readOnly" value="false" />
				<property name="connectionTimeout" value="${jdbc.connectionTimeout}"/>
				<property name="idleTimeout" value="${jdbc.idleTimeout}"/>
				<property name="maxLifetime" value="${jdbc.maxLifetime}"/>
				<property name="maximumPoolSize" value="${jdbc.maximumPoolSize}"/>
			</bean>
		</constructor-arg>
	</bean>


	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 配置Hibernate事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="xyz.chanjkf.aop.dataSourceAspect" id="dataSourceAspect" />
	<!-- 单数据源事务 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="find*" propagation="REQUIRED" read-only="true" />
			<tx:method name="query*" propagation="REQUIRED" read-only="true" />
			<tx:method name="search*" propagation="REQUIRED" read-only="true" />
			<tx:method name="is*" propagation="REQUIRED" read-only="true" />
			<tx:method name="has*" propagation="REQUIRED" read-only="true" />
			<tx:method name="can*" propagation="REQUIRED" read-only="true" />
			<tx:method name="update*" propagation="REQUIRED" read-only="true" />
			<tx:method name="create*" propagation="REQUIRED" read-only="true" />
			<tx:method name="register*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<aop:config expose-proxy="true">
		<!--<aop:pointcut id="allManagerMethod" expression="execution(* xyz.chanjkf.service..*.*(..))" />-->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod"/>
		<aop:aspect ref="dataSourceAspect" order="1">
			<aop:pointcut id="allManagerMethod" expression="execution(* xyz.chanjkf.service..*.*(..))" />
			<aop:before method="before" pointcut-ref="allManagerMethod"/>
		</aop:aspect>

	</aop:config>


	<!-- 配置事务异常封装 -->
	<bean id="persistenceExceptionTranslationPostProcessor"
		  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<!-- Freemarker配置 -->
	<bean id="freemarkerConfig"
		  class="xyz.chanjkf.utils.freemarker.CustomFreeMarkerConfigurer">

		<property name="templateLoaderPath" value="/view/ftl/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="number_format">0.##########</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="classic_compatible">true</prop>
				<prop key="template_exception_handler">ignore</prop>
			</props>
		</property>
	</bean>
</beans>